<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
  <add key="GroupName" value="" />
  <add key="Username" value="" />
  <add key="Password" value="" />
  <add key="Timer offset" value="60" />
  <add key="GithubSourceLink" value="https://github.com/webxxcom/AutoAttendanceMarker" />
 </appSettings>
</configuration>
