<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="GroupName" value="КНТ-23-1"/>
		<add key="Username" value="roman.kravchenko1@nure.ua"/>
		<add key="Password" value="Openkids13"/>
		<add key="Start Offset" value="60"/>
		<add key="Power Action" value="sleep"/>
	</appSettings>
</configuration>
