<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="GroupName" value="" />
		<add key="Username" value="vasya.pupkin@nure.ua" />
		<add key="Password" value="SomeCoolPassword" />
		<add key="Timer offset" value="60" />
		<add key="GithubSourceLink" value="https://github.com/webxxcom/AutoAttendanceMarker" />
		<add key="power action" value="Hibernate" />
	</appSettings>
</configuration>
